* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
header {
  width: 100vw;
}

nav {
  padding: 20px;
  width: 100%;
  height: 100px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

li {
  list-style: none;
}

.footer-nav {
  background-color: rgb(226, 108, 24);
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: white;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}
